<app-loader *ngIf="loading"></app-loader>

<div class="dashboard-container">
  <h2>Welcome to your Tasks</h2>
  <div class="tasks-list">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{task.category}}</td>
          <td class="f">
            <button class="edit-btn" (click)="editTask(task)">Edit</button>
            <button class="delete-btn" (click)="deleteTask(task._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

